# ignore:
/PCB/*
/Case/~$*.*
/Soft/User Firmware/Simple_io/*
	# will add in the future:
/Soft/User Firmware/OSAL_sample/*
# except:
!/PCB/Gerber
!*.step
!*.PcbDoc
!*.PDF
!*.PrjPcb
!*.SchDoc
!/Soft/User Firmware/Simple_io/UserSpace
!/Soft/User Firmware/Simple_io/Include